.site-footer{
 
    background-color: $mirage-blue;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    &__logo{
        padding: 41px 0;;
    }

    &__item{
        margin-bottom: 31px;
    }
    &__link{
        color: $white;
    }

    &__icon{
        margin-right: 24px;
        
    }
    &__icons{
        margin-bottom: 55px;
    }

}




@media only screen and (min-width: 768px){
    .site-footer{
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
     
        &__box{
            width: 432px;
            display: flex;
            justify-content: space-between;
        }

        &__list{
            width: 230px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        &__item{
            margin: 0;
        }

        &__icons{
            margin: 0;
        }
    }

    .titleh1{
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 48px;
    }

}