.site-header {
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  &__menu {
    width: 28px;
    height: 17px;
    background-image: url(../../images/menu-open.svg);
    @include menu-button;
    display: none;
  }

  &__close {
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-image: url(../../images/menu-close.svg);
    @include menu-button;
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 64px;
    flex-grow: 1;
  }

  &__link {
    @include red-button;
  }
}

.nav {
  &__list {
    display: flex;
    @include list-unstyle;
  }

  &__item {
    margin-right: 40px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: $san-blue;
    mix-blend-mode: normal;
    opacity: 0.7;
    transition: all 0.5s ease;
  }

  &__link:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .site-header {
    &__inner {
      justify-content: space-between;
    }

    &__wrapper {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      width: 85%;
      z-index: 1001;
      background-color: $san-blue;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      transition: all 0.5s ease;

      &.active {
        right: 0;
      }
    }

    &__close {
      display: inline-block;
      position: absolute;
      top: 50px;
      right: 28px;
    }

    &__menu {
      display: inline-block;
    }
  }

  .nav {
    &__list {
      flex-direction: column;
    }

    &__item {
      margin: 0;
      margin-bottom: 32px;
    }

    &__link {
      color: $white;
    }
  }
}
