.site-header {
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  &__menu {
    width: 28px;
    height: 17px;
    background-image: url(../../images/menu-open.svg);
    @include menu-button;
    display: none;
  }

  &__close {
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-image: url(../../images/menu-close.svg);
    @include menu-button;
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 64px;
    flex-grow: 1;
  }

  &__link {
    @include red-button;
  }
}

.nav {
  &__list {
    display: flex;
    @include list-unstyle;
  }

  &__item {
    margin-right: 40px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: $san-blue;
    mix-blend-mode: normal;
    opacity: 0.7;
    transition: all 0.5s ease;
  }

  &__link:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .site-header {
    &__wrapper {
      transform: translateX(100%);
      margin: 0;
      flex-direction: column;
      position: absolute;
      justify-content: flex-start;
      background-color: $san-blue;
      top: 0;
      right: 0;
      max-width: 300px;
      height: 100vh;
      padding: 48px 24px;
    }

    &__wrapper--on {
      transform: translateX(0%);
    }

    &__menu {
      display: inline-block;
    }

    &__close {
      align-self: flex-end;
      display: inline-block;
    }

    &__link {
      padding: 16px 36px 14px 38px;
    }
  }

  .nav {
    width: 100%;

    &__list {
      text-align: center;
      margin-top: 24px;
      border-top: 1px solid $white;
      padding-top: 43px;
      flex-direction: column;
    }

    &__item {
      margin: 0;
      margin-bottom: 32px;
    }

    &__link {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $white;
    }
  }
}
