.site-header {
  &__inner {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  &__link {
    @include red-button;
    display: none;
  }

  &__open{
      margin-left: auto;
  }
}

.nav {
  display: none;
  margin-right: auto;
  margin-left: 64px;

  &__list {
    display: flex;
    @include list-unstyle;
  }

  &__item {
    margin-right: 40px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: $san-blue;
    mix-blend-mode: normal;
    opacity: 0.7;
    transition: all 0.5s ease;
  }

  &__link:hover {
    opacity: 1;
  }
}



@media only screen and (min-width: 580px){
  .nav{
    display: inline-block;
    margin-left: 50px;

    &__link{
      font-size: 0.8em;
    }
  }

  .site-header{
    &__open{
      display: none;
    }
    &__link{
      display: inline-block;
      font-size: 0.8em;
      padding: 0.8em 0.8em 0.8em 0.8em;
    }
  }
  
}


@media only screen and (min-width: 768px){
  .nav{
    &__link{
      font-size: 1em;
    }
      
   } 

   .site-header{

    &__link{
      font-size: 1em;
      padding: 1em;
   }
   }
}

@media only screen and (min-width: 1100px ){
  .nav{
    &__link{
      font-size: 1em;
    }
      
   } 

   .site-header{

    &__link{
      font-size: 1em;
      padding: 1em;
   }
   }
}


