.site-hero {
  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1015px;
    justify-content: space-between;
    padding-top: 74px;
  }

  &__left {
    width: 100%;
    max-width: 546px;
  }

  &__title {
    margin: 0;
    font-family: "DM Serif Display", "Arial", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.554px;
    color: $san-blue;
    margin-bottom: 21px;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: $light-blue;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: $light-blue;
  }

  &__footer {
    margin-top: 16px;
    margin-left: 27px;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
  }

  &__wrapper {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .site-hero {
    &__inner {
      flex-direction: column-reverse;
      padding-top: 40px;
    }

    &__left {
      margin-top: 48px;
    }

    &__title {
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.37px;
      margin-bottom: 22px;
    }

    &__footer {
      text-align: center;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
