.work {
  background-color: $mirage-blue;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 150px;
    padding: 100px 0;
  }

  &__left {
    width: 100%;
    max-width: 445px;
  }

  &__title {
    margin: 0;
    font-family: "DM Serif Display", "Arial", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
    color: $white;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  &__link-about {
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px 14px 32px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.116px;
    color: $white;
    border: 1px solid $white;
    border-radius: 24px;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  &__link-about:hover {
    background-color: #ffffff;
    color: $mirage-blue;
  }

  &__right {
    width: 100%;
    max-width: 536px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include list-unstyle;
    margin-bottom: 40px;
  }

  &__list:last-child {
    margin-bottom: 0;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
  }
}

@media only screen and (max-width: 1024px) {
  .work {
    &__inner {
      flex-direction: column-reverse;
      padding: 88px 0;
      margin: 100px 0;
    }

    &__right {
      margin-bottom: 64px;
    }

    &__left {
      width: 100%;
      max-width: 457px;
      text-align: center;
    }
  }
}
